<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.hajecek.provikartApp.commissionRefresh</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>cs</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleRoleEditor</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Provikart</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>provikart</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
